.tutorials{
    background-color: #0b133d;
    text-align: center;
    padding: 50px;
}
.tutorials h1{
    color: white;
}
.row{
    margin: 50px 118px;
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.col-4{
    background-color: #cedce7;
    border-radius: 15px;
    color: #0b133d;
    margin: 0 10px;
    padding: 30px 15px;
}
.col-4 img{
    width: 100%;
    max-width: 300px;
    min-width: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}
.tutorials-header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.tutorials-footer{
    font-size: 13px;
    font-weight: 800;
    color: #0b133d;
}